body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header {
    text-align: center;
    margin: 50px 0;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}